<section id="my-events" class="container">

	<h1>My Events</h1>

	<p>
		<% @event.each do |u| %>
		   <!-- Event User ID:<p><%#= u.user_id %></p> -->
		   <%= link_to u.title, event_path(u) %>

	</p>

	   

	<% end %>
</section